{{.Warning}}
// Generated {{.Now}}

package ianasparlist

import (
  "net"
  "time"
)

// Network describes a special v4/6 network according as 
// described by the IANA Special-Purpose Address Registry lists
type Network struct {
  CIDR net.IPNet

  Comment string
  RFC     string

  Allocated  time.Time
  Terminates time.Time

  Source             bool
  Destination        bool
  Forwardable        bool
  Global             bool
  ReservedByProtocol bool
}

var (
  V4 = []Network{
{{range .V4Networks}}    {
      CIDR: net.IPNet{
        IP: []byte{ {{.IP}} },
        Mask: []byte{ {{.Mask}} },
      },
      Comment: "{{.Comment}}",
      RFC: "{{.RFC}}",
{{if .Allocated}}      Allocated: time.Unix({{.Allocated}}),
{{end}}{{if .Terminates}}      Terminates: time.Unix({{.Terminates}}),
{{end}}      Source: {{.Source}},
      Destination: {{.Destination}},
      Forwardable: {{.Forwardable}},
      Global: {{.Global}},
      ReservedByProtocol: {{.ReservedByProtocol}},
    },
{{end}}
  }
  V6 = []Network{
{{range .V6Networks}}    {
      CIDR: net.IPNet{
        IP: []byte{ {{.IP}} },
        Mask: []byte{ {{.Mask}} },
      },
      Comment: "{{.Comment}}",
      RFC: "{{.RFC}}",
{{if .Allocated}}      Allocated: time.Unix({{.Allocated}}),
{{end}}{{if .Terminates}}      Terminates: time.Unix({{.Terminates}}),
{{end}}      Source: {{.Source}},
      Destination: {{.Destination}},
      Forwardable: {{.Forwardable}},
      Global: {{.Global}},
      ReservedByProtocol: {{.ReservedByProtocol}},
    },
{{end}}
  }
)
