{{.Warning}}
// Generated {{.Now}}

package privateNetworks

import (
	"net"
)

var (
  V4 = []Network{
{{range .V4Networks}}    {
      CIDR: net.IPNet{
        IP: []byte{ {{.IP}} },
        Mask: []byte{ {{.Mask}} },
      },
      Comment: "{{.Comment}}",
      RFC: "{{.RFC}}",
      Source: {{.Source}},
      Destination: {{.Destination}},
      Forwardable: {{.Forwardable}},
      Global: {{.Global}},
      ReservedByProtocol: {{.ReservedByProtocol}},
    },
{{end}}
  }
  V6 = []Network{
{{range .V6Networks}}    {
      CIDR: net.IPNet{
        IP: []byte{ {{.IP}} },
        Mask: []byte{ {{.Mask}} },
      },
      Comment: "{{.Comment}}",
      RFC: "{{.RFC}}",
      Source: {{.Source}},
      Destination: {{.Destination}},
      Forwardable: {{.Forwardable}},
      Global: {{.Global}},
      ReservedByProtocol: {{.ReservedByProtocol}},
    },
{{end}}
  }
)
